a(href="index.html" onclick="window.location.href='index.html'")
	h1 Federico Contreras
p
	span.subinfo
		a(href="mailto:fc@20mm.net")
			nobr
				span.material-icons mail_outline
				span.iconvadjust fc@20mm.net
	span.subinfo
		a(href="mailto:fc@20mm.net")
			nobr
				span.material-icons call
				span.iconvadjust 514.581.6473