//head.pug
title Federico Contreras
meta(name="description" content="Federico Contreras, UX/UI, Full Stack Programmer, Portfolio and Links.")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet" href="css/styles.css")