doctype html
html
  head
    include head.pug
  body
    include branding.pug
    include nav.pug
    p This is a containerized version of my portfolio site runnning on Kubernetes and load balanced accross 3 worker nodes for resiliency.
    p This version was compiled on 20200819
    p Montreal Canada
    img.portfolioimage(src="images/20mm_omicron_001A.jpg" style="")
    include nav.pug
    script(src="js/functions.js")
    script(src="js/index.js")