doctype html

html
	head
		include head.pug
		
	body
		include branding.pug
		include nav.pug

		img.portfolioimage(src="images/20mm_omicron_001A.jpg" style="")
			
		include nav.pug
		script(src="js/functions.js")
		script(src="js/index.js")
