// p1.pug
doctype html
html
	head
		include head.pug
	body
		include branding.pug
		include nav.pug
		img.portfolioimage(src="images/cv_images_01_1280.jpg")
		include nav.pug
		script(src="js/functions.js")